body{
    background-image: url("~src/assets/IMG_20230320_130050 (1).jpg");
    width: 1500px;
    height: 750px;
    background-size: 1500px 750px;
    background-repeat: no-repeat;
}
p{
    color: aliceblue;
}
.active{
    margin-left: 570px;
    margin-top: 130px;
}